:root {
  --size: 3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 238, 238);
}

h1 {
  font-size: 50px;
  margin-bottom: 30px;
}

#inputGridSize {
  padding: 2px 4px;
  border: 1px solid black;
}
#btnStart {
  padding: 2px 4px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

label, #inputGridSize, #btnStart {
  font-size: 18px;
}
label:hover, #inputGridSize:hover, #btnStart:hover {
  font-weight: 700;
}

.game-container {
  position: relative;
  width: 400px;
  height: 400px;
  margin-top: 10px;
}
.game {
  position: absolute;
  display: grid;
  grid-template: repeat(var(--size), 1fr) / repeat(var(--size), 1fr);
  width: 100%;
  height: 100%;
  border: 3px solid black;
}
.victory-screen.hidden {
  display: none;
}
.victory-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid black;
  background-color: rgba(255, 255, 255, 0.7);
}
.victory-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 70%;
  height: 70%;
  padding: 20px;
  background-color: white;
  border: 1px solid black;
  border-radius: 30px;
}
.game-results {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.msg {
  font-size: 44px;
  font-weight: 700;
}

.tile {
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
  user-select: none;
}
.tile.clicked {
  background-color: rgb(50, 50, 50);
}
