:root {
  --size: 3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 30px;
}

.game {
  display: grid;
  grid-template: repeat(var(--size), 1fr) / repeat(var(--size), 1fr);
  width: 400px;
  height: 400px;
  margin-top: 10px;
  border: solid black 3px;
}
